[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "*"
uvicorn = "*"
graphene = "*"
mongoengine = "*"
graphene-mongo = "*"

[requires]
python_version = "3.8"

[scripts]
dev = 'uvicorn server:app --reload --port 6900'
